body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, #A40BD9, #7C0CF8);
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.13);
    
    
    
}

.login h1{
    text-align: center;
    padding: 0 0 20px 0;
    
}

.txt-field{
    margin-left: 12px;
}
.pass{
    padding: 0 0 0 20px;
}

.botao{
    display: block;
    margin: auto;
    height: 50px;
    width: 60%;
    border: 1px solid black;
    background: rgba(0, 0, 255, 0.582);
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    

  
}
.limpar{
    display: block;
    margin: auto;
    height: 30px;
    width: 50%;
    border: 1px solid black;
    background: rgba(0, 0, 255, 0.582);
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 10px;
    

    
}
.limpar:hover{
    background: #A40BD9;
    transition: 0.5s;
    cursor: pointer;
}
.botao:hover{
    cursor: pointer;
    transition: 0.5s;
    background: rgba(0, 0, 255, 0.836);
}
.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.link:hover{
    text-decoration: underline;
    color: #7C0CF8;
    transition: 0.2s;
}

#checkbox{
    margin-left: 20px;
}